<!DOCTYPE HTML>
<html>
	<head>
		<title>{% if page.title %} {{ page.title }} | {% endif %} JavascriptU</title>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css"/>
        <!-- Custom Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">


        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript src='{{site.baseurl}}/js/vendor/jquery.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
        <script type="text/javascript" src="{{site.baseurl}}/js/script.js"></script>
    </head>
	<body>
    <div id='header'>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/resources/">JavascriptU</a>
                        <ul class="nav">
                            <li style='display:none;'><a href="{{site.baseurl}}/blogs"><i class="icon-edit icon-white"></i>  Blogs</a></li>
                            <li><a href="{{site.baseurl}}/handouts"><i class="icon-file icon-white"></i>  Handouts</a></li>
                            <li><a href="{{site.baseurl}}/slides"><i class="icon-film icon-white"></i> Slide Decks</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div id='main'> {{ content }} </div>
    <div id='footer'></div>
	</body>
</html>
